#saveLocationButton.hidden {
  display: none; /* Keeps the hidden class on Save Location button */
}
#startButton.hidden{
  display: none;
}
/* Style for Start Game button */
#startButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

/* Style for Save Location button */
#saveLocationButton {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


